<div class="nested-fields">
  <div class="form-inline">
    b Allowance
  <%= f.input :allowance_amount %>
  <%= f.input :allowance_frequency %>
  
  <%= link_to_remove_association "remove allowance", f %>

</div>
