<div class="nested-fields">
  <div class="form-inline">
    b Allowance
  <%= f.input :allowance_amount %>
  <%= f.input :allowance_frequency %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", "#", class: "remove_fields" %>

</div>
