<div class="container">
  <%= image_tag @parent.image.url(:medium) %>

  <h1><%= @parent.parent_name %> </h1>
  <h1><%= @parent.family_name %> </h1>


      <%= link_to "Back", root_path, class: "btn btn-default" %>

</div>